.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

.headerStyle {
  font-size: 30px;
  color: navy;
  font-weight: 700;
  margin-bottom: 100px
}

.Container {
  width: 300px;
  /* height: 800px; */
  display: flex;
  justify-content: space-between;
  /* flex-direction: column;
  align-items: center; */
  /* justify-content: center; */
  background:white;
  color: black;
  font-size: 20px;
  margin-top: 50px;
  padding: 0.7rem;
  border-bottom: 1px solid;
}

.inputStyle {
  height: 25px;
  font-size: 23px;
  border: none;
  border-bottom : 1px solid ;
}

.btnStyle {
  margin-left : 10px;
  background: white;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
}

.noStyleBtn {
  background: none;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
